body{
background-image: url(/tapsiriq2/assets/image/file-6113d5f8845dc.jpeg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: auto;
    background-attachment: fixed;
    

}


#main{
    color: yellow;
    width: 500px;
    margin-left: 500px;

}